<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
    @* Giả sử style.css đã được thêm vào Bundles hoặc bạn cần đặt nó trực tiếp như sau: *@
    <link rel="stylesheet" href="~/Content/style.css">

    <title>@ViewBag.Title - CellPhoneS</title>

    @* Cú pháp Razor Bundling *@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    @* 1. Header*@
    <header>
        <img src="~/image/logo/ảnh 1.jpg" alt="">
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href=""><img style="width: 200px;" src="~/image/logo/cellphones-logo-ngang.jpg" alt=""></a></li>
                <li id="adress-form"><a href="#">Tây Ninh<i class="fas fa-sort-down"></i></a></li>
                <li><input type="text" placeholder="Bạn muốn mua gì..."><i class="fas fa-search"></i></li>
                <li><a href=""><button><i class="fas fa-shopping-cart"></i>Giỏ hàng</button></a></li>
                <li><a href=""><button><i class="fas fa-file"></i>Lịch sử đơn hàng</button></a></li>
                <li><a href=""><button><i class="fas fa-house-user"></i>Cửa hàng gần bạn</button></a></li>
                <li><a href="~/Views/Home/Login.cshtml"><button><i class="fas fa-user"></i>Đăng nhập</button></a></li>
                <div class="adress-form">
                    <div class="adress-form-content">
                        <h2>Chọn địa chỉ nhận hàng <span id="adress-close">Đóng X</span></h2>
                        <form action="">
                            <p>Vui lòng chọn tỉnh, thành phố để biết chính xác giá, khuyến mãi và tồn kho</p>
                            <select name="">
                                <option value="">--Chọn tỉnh thành</option>
                                <option value="">--Tây Ninh</option>
                            </select>
                            <select name="">
                                <option value="">--Chọn Quận\Huyện</option>
                                <option value="">--Tây Ninh</option>
                            </select>
                            <select name="">
                                <option value="">--Chọn Phường\Xã</option>
                                <option value="">--Tây Ninh</option>
                            </select>
                            <input type="text" placeholder="Số nhà, Tên đường">
                            <button>Xác nhận</button>
                        </form>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    <section class="menu-bar">
        <div class="container">
            <div class="menu-bar-content">
                <ul>
                    <li>
                        <a href=""><i class="fas fa-mobile"></i>Điện thoại, Tablet<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-laptop"></i>Laptop<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-headphones"></i>Headphone<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-clock"></i>Đồng hồ<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-keyboard"></i>Phụ kiện<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-desktop"></i>PC, Màn hình, Máy in<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-tv"></i>TV<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-percent"></i>Khuyến mãi<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-newspaper"></i>Tin công nghệ<i style="font-size: 20px;" class="fas fa-sort-down"></i></a>
                        <div class="submenu">
                            <ul>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                                <li><a href="">Phụ kiện di động</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="slider">
        <div class="container">
            <div class="slider-content">
                <div class="slider-content-left">
                    <div class="slider-content-left-top-container">
                        <div class="slider-content-left-top">
                            <a href=""><img src="~/image/logo/slide1.jpg" alt=""></a>
                            <a href=""><img src="~/image/logo/slide2.jpg" alt=""></a>
                            <a href=""><img src="~/image/logo/slide3.jpg" alt=""></a>
                            <a href=""><img src="~/image/logo/slide4.jpg" alt=""></a>
                            <a href=""><img src="~/image/logo/slide5.jpg" alt=""></a>
                        </div>
                        <div class="slider-content-left-top-btn">
                            <i class="fas fa-chevron-left"></i>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="slider-content-left-bottom">
                        <li class="active">IPhone 17</li>
                        <li>Galaxy Z Flip7 | Fold7</li>
                        <li>Acer Gaming Nitro Lite</li>
                        <li>AirPods Pro 3</li>
                        <li>Ideapad Slim</li>
                    </div>
                </div>
                <div class="slider-content-right">
                    <li><a href=""><img src="~/image/logo/slide6.jpg" alt=""></a></li>
                    <li><a href=""><img src="~/image/logo/slide7.jpg" alt=""></a></li>
                    <li><a href=""><img src="~/image/logo/slide8.jpg" alt=""></a></li>
                    <li><a href=""><img src="~/image/logo/slide9.jpg" alt=""></a></li>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-one">
        <div class="container">
            <img src="~/image/logo/ảnh 1.jpg" alt="">
        </div>
    </section>
    <section class="slider-product-one">
        <div class="container">
            <div class="slider-product-one-content">
                <div class="slider-product-one-content-title">
                    <h2>HOT SALE CUỐI TUẦN</h2>
                </div>
                <div class="slider-product-one-cotent-container">
                    <div class="slider-product-one-content-items-content">
                        <div class="slider-product-one-content-items">
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="slider-product-one-content-items">
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="slider-product-one-content-items">
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-product-one-content-item">
                                <img src="~/image/product/product1.jpg" alt="">
                                <div class="slider-product-one-content-item-text">
                                    <ul>
                                        <li><img src="~/image/icon/icon1.png" alt=""><p>Trợ giá mua ngay</p></li>
                                        <li>Xiaomi Redmi Note 13 Pro 8G 256GB</li>
                                        <li>Online giá rẻ</li>
                                        <li><a href="">11.990.000<sup>đ</sup></a><span>-7%</span></li>
                                        <li>10.990.000<sup>đ</sup></li>
                                        <li>Quà 100.000<sup>đ</sup></li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slider-product-one-content-btn">
                        <i class="fas fa-chevron-left fa-chevron-left-two"></i>
                        <i class="fas fa-chevron-right fa-chevron-right-two"></i>
                    </div>
                </div>

            </div>
        </div>
    </section>
    @* Nội dung riêng của từng View sẽ được đặt tại đây *@
    @* 2. Body *@

    @RenderBody()

    @* 3. Footer *@
    <footer>
        <div class="container">
            <div class="footer-one-content">
                <footer>
                    <div class="container">
                        <div class="footer-one-content">
                            <div class="footer-col">
                                <h3><a href="~/Views/Home/Information.cshtml">Tổng đài hỗ trợ miễn phí</a></h3>
                                <p>Mua hàng - bảo hành 1800.2097 (7h30 - 22h00)</p>
                                <p class="highlight">Khiếu nại 1800.2063 (8h00 - 21h30)</p>
                            </div>
                            <div class="footer-col">
                                <h3>Thông tin về chính sách</h3>
                                <ul>
                                    <li><a href="#">Mua hàng và thanh toán Online</a></li>
                                    <li><a href="#">Chính sách đổi trả</a></li>
                                </ul>
                            </div>
                            <div class="footer-col">
                                <h3>Dịch vụ và thông tin khác</h3>
                                <ul>
                                    <li><a href="~/Views/Home/Services.cshtml">Khách hàng doanh nghiệp (B2B)</a></li>
                                    <li><a href="#">Ưu đãi thanh toán</a></li>
                                </ul>
                            </div>
                            <div class="footer-col">
                                <h3>Kết nối với CellphoneS</h3>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-tiktok"></i>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </footer>

    @* Cú pháp Razor Bundling cho scripts *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @* Giả sử script.js đã được di chuyển và có thể được thêm trực tiếp hoặc qua Bundling *@
    <script src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
